
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}
.center{
  left: calc(50% - 100px)
}
.wid{
  width: calc(100vw - 5rem);
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
  background: rgb(22,189,199);
background: linear-gradient(144deg, rgba(22,189,199,1) 32%, rgba(255,0,232,1) 85%);
border-radius: 10px;
}

